PORT=5200
DB_URL=mongodb_connection_string
CLOUDINARY_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
JWT_SECRET=replace_with_a_secure_secret
JWT_EXPIRES=1h
COOKIE_SECURE=false
FRONTEND_URL=http://localhost:5174
